# Configurações do WhatsApp
WHATSAPP_API_BASE_URL=https://graph.facebook.com/
WHATSAPP_API_VERSION=v23.0
WHATSAPP_TOKEN=EAAJXb46AjCIBPDGXBGSppi3Y6uy0lSH22r19xczOvp5lZAeytybUx2oKkFTev4x8KM3aoM2lnfLGQlxSIZBOe4VZBIAzF8ATbppEGPZA0fHppyDl6M9Gs23JPMugHQ5J4Ju61aVNpV7vQB5RpA1eS3tUg69gY6qyStqZCGmLvTpKsPY1KEf0TszFu5Qvt0ElYDOcLgidZBdOSntcXzndex54zuCgSVH5AOpFZBBMjaUeRgZD
WHATSAPP_PHONE_NUMBER_ID=725928283939860

# Firebase
FIREBASE_PROJECT_ID=seu_projeto_firebase
FIREBASE_PRIVATE_KEY=chave_privada_firebase
FIREBASE_CLIENT_EMAIL=email_cliente_firebase

# Google Calendar
GOOGLE_CALENDAR_ID=seu_calendar_id
GOOGLE_CLIENT_ID=seu_client_id
GOOGLE_CLIENT_SECRET=seu_client_secret
GOOGLE_REDIRECT_URI=http://localhost:3000/auth/google/callback

# JWT
JWT_SECRET=seu_jwt_secret_super_seguro

# Servidor
PORT=3000
NODE_ENV=development

# OCR
TESSERACT_LANG=por

# Armazenamento
STORAGE_BUCKET=seu_bucket_storage